__pycache__/
jobfiles/*
!jobfiles/.gitkeep 
*.py[cod]
*.log
.vscode
.DS_Store

#logfiles
pid.pid
nohup.out
logs/*
cron.tt

#oxView (its a separate repository)
static/oxdna-viewer
static/oxdna-viewer/*
static/oxviewer-azdna-integration/*