{% extends 'base.html' %}
{% set active_page = "password/reset" %}
{% set page_controller = "ResetCtrl" %}
{% set addSearchBox = False %}

{% block title %}Reset{% endblock %}

{% block additionalStylesheet %}
<style>
	table, th , td {
		border: 1px solid grey;
		border-collapse: collapse;
		padding: 15px;
		width:100%;
	}

	table td {
		width:15%;
		text-align: center;
	}

	table tr:nth-child(odd) {
		background-color: #f1f1f1;
	}

	table tr:nth-child(even) {
		background-color: #ffffff;
	}
</style>
{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<h1 class="h2">Reset Password</h1>
	</div>
	
	
	<div class="card">
		<div class="card-body">
	
			You can reset your password below.
	
			<br><br>
	
			<div class="row">
				<div class="col-6">
					<div ng-if="status != null">
						<h6 ng-cloak>{{status}}</h6>
					</div>
					<div>
						<br>
						New password:&emsp;&ensp; <input type="password" ng-model="newPassword">
						<br><br>
						Confirm password: <input type="password" ng-model="confirmPassword">
						<br><br><br>
						<button ng-click="submit()">Reset my password</button>
					</div>
				</div>
			</div>
	
		</div>
	</div>
{% endblock}