{% extends 'base.html' %}
{% set active_page = "create" %}
{% set page_controller = "MainCtrl" %}

{% block title %}Create{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<h1 class="h2">Create A Job</h1>
	</div>


	<div class="card">
		<div class="card-body">
			{% if not session['user_id'] %}
				<p>You are now creating a guest job for processing on our servers.</p>
					<ul>
						<li>The limit of running 4 jobs at a time still applies.</li>
						<li>The page for your job will open after you press submit. Make sure to save the link!</li>
					</ul>
			{% else %}
				<p>You are now creating a job for processing on our servers.</p>
			{% endif %}

			<h4>Server Status</h4>
			<span>Total jobs currently running: </span><span ng-cloak>[[jobsRunning]]</span><br>
			<span>Total jobs in queue: </span><span ng-cloak>[[jobsQueued]]</span><br><br>

			<!--
						<p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
							</div>
						</p>
						!-->

			<h4>Input Files</h4>
			<div class="form-group">
				<label for="exampleFormControlFile1">Please select <b>2 input files</b> (configuration and topology) for the job</label>
				<input type="file" accept=".top,.conf,.dat,.oxdna" autocomplete="off" class="form-control-file"
					id="exampleFormControlFile1" multiple onchange="openFiles(this.files)">
			</div>

			<iframe name="editor-frame"
				style="resize:vertical;overflow:auto;width:95%;height:550px;margin:10px auto;display:block;"
				src="/static/oxdna-viewer/index.html"></iframe>

			<h4>Parameters</h4>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Job Title</span>
				</div>
				<input ng-model="data.job_title" maxlength="16" type="text" class="form-control"
					placeholder="A title for your reference" aria-label="Username" aria-describedby="basic-addon1">
			</div>
			<div class="mb-3">
                            <h6>Interaction Type</h6>
                            <div class="form-check form-check-inline">
                                    <input ng-model="data.interaction_type" class="form-check-input" type="radio" name="interaction_type"
                                            id="inlineRadio1" value="DNA">
                                    <label class="form-check-label" for="inlineRadio1">DNA</label>
                            </div>
                            <div class="form-check form-check-inline">
                                    <input ng-model="data.interaction_type" class="form-check-input" type="radio" name="interaction_type"
                                            id="inlineRadio2" value="RNA">
                                    <label class="form-check-label" for="inlineRadio2">RNA</label>
                            </div>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Salt Concentration</span>
				</div>
				<input ng-model="data.salt_concentration" type="number" step=0.01 class="form-control"
					placeholder="Sets the salt concentration in M" aria-label="sets the salt concentration in M"
					aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Steps</span>
				</div>
				<input ng-model="data.steps" type="number" class="form-control"
					placeholder="Length of the simulation, in time step" aria-label="sets the salt concentration in M"
					aria-describedby="basic-addon1">
			</div>

			<div class="mb-3">
                            <h6>Temperature Units</h6>
                            <div class="form-check form-check-inline">
                                    <input ng-model="auxillary.temperature_units" class="form-check-input" type="radio"
                                            name="temperature_units" id="inlineRadio1" value="kelvin">
                                    <label class="form-check-label" for="inlineRadio1">Kelvin</label>
                            </div>
                            <div class="form-check form-check-inline">
                                    <input ng-model="auxillary.temperature_units" class="form-check-input" type="radio"
                                            name="temperature_units" id="inlineRadio1" value="celsius">
                                    <label class="form-check-label" for="inlineRadio2">Celsius</label>
                            </div>
			</div>



			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Temperature</span>
				</div>
				<input ng-model="auxillary.temperature" type="number" class="form-control"
					placeholder="Temperature of the simulation" aria-label="sets the salt concentration in M"
					aria-describedby="basic-addon1">
			</div>

			<div class="mb-3">
				<h6>Relaxation</h6>
				<div class="mb-3">
					<div class="form-check form-check-inline">
						<input ng-model="data.needs_relax" class="form-check-input" type="checkbox" name="needs_relax" id="inlinecheckbox1" value="true">
						<label class="form-check-label" for="inlinecheckbox1">Needs Relax</label>
					</div>
				</div>

				<div class="mb-3">
					<a class="btn btn-primary" data-toggle="collapse" href="#relaxParams" role="button" aria-expanded="false" aria-controls="relaxParams">View relax parameters</a>
					<div class="collapse" id="relaxParams">
						<h4>Relax Parameters</h4>

						<div class="mb-3">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="MC_steps">MC steps</span>
								</div>
								<input ng-model="data.MC_steps" type="number" class="form-control" placeholder="The number of Monte Carlo steps in the initial relax" aria-label="The number of Monte Carlo steps in the initial relax" aria-describedby="basic">
							</div>
						</div>
						<div class="mb-3">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="MD_steps">MD steps</span>
								</div>
								<input ng-model="data.MD_steps" type="number" class="form-control" placeholder="The number of molecular dynamics steps in the secondary relax" aria-label="The number of molecular dynamics steps in the secondary relax" aria-describedby="basic">
							</div>
						</div>
						<div class="mb-3">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="MD_dt">MD timestep</span>
								</div>
								<input ng-model="data.MD_dt" type="number" step=0.00001 class="form-control" placeholder="The timestep of the MD simulation" aria-label="The timestep of the MD simulation" aria-describedby="basic">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mb-3">
				<a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View advanced parameters</a>

				<div class="collapse" id="multiCollapseExample1">
					<h4>Advanced Parameters</h4>

					<div class="mb-3">
						<h6>Backend</h6>
						<div class="form-check form-check-inline">
							<input ng-model="data.backend" class="form-check-input" type="radio" name="backend" id="inlineRadio1" value="CPU">
							<label class="form-check-label" for="inlineRadio1">CPU</label>
						</div>
						<div class="form-check form-check-inline">
							<input ng-model="data.backend" class="form-check-input" type="radio" name="backend" id="inlineRadio2" value="CUDA">
							<label class="form-check-label" for="inlineRadio2">CUDA</label>
						</div>
					</div>

					<div class="mb-3">
						<h6>Simulation timestep</h6>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">dt</span>
							</div>
							<input ng-model="data.dt" type="number" step=0.0001 class="form-control" placeholder="The timestep of integration for the simulation" aria-label="The timestep of integration for the simulation" aria-describedby="basic-addon1">
						</div>
					</div>

					<div class="mb-3">
						<h6>External force file</h6>
						<input fileread="force_file" type="file" class="form-control-file" id="force-file">
					</div>

					<div class="mb-3">
						<h6>Use average sequence model</h6>
						<div class="form-check form-check-inline">
							<input ng-model="auxillary.use_average_seq" class="form-check-input" type="radio" name="use_average_seq" id="inlineRadio1" value="true">
							<label class="form-check-label" for="inlineRadio1">Yes</label>
						</div>
						<div class="form-check form-check-inline">
							<input ng-model="auxillary.use_average_seq" class="form-check-input" type="radio" name="use_average_seq" id="inlineRadio2" value="false">
							<label class="form-check-label" for="inlineRadio2">No</label>
						</div>
					</div>

					<div class="mb-3">
						<h6>Mismatch Repulsion (RNA only)</h6>
						<div class="form-check form-check-inline">
							<input ng-model="auxillary.mismatch_repulsion" class="form-check-input" type="radio" name="mismatch_repulsion" id="inlineRadio1" value="true">
							<label class="form-check-label" for="inlineRadio1">Yes</label>
						</div>
						<div class="form-check form-check-inline">
							<input ng-model="auxillary.mismatch_repulsion" class="form-check-input" type="radio" name="mismatch_repulsion" id="inlineRadio2" value="false">
							<label class="form-check-label" for="inlineRadio2">No</label>
						</div>
					</div>

					<div class="mb-3">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">Print conf_interval</span>
							</div>
							<input ng-model="data.print_conf_interval" type="number" class="form-control" placeholder="The time steps between the outputting of configurations" aria-label="sets the salt concentration in M" aria-describedby="basic-addon1">
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">Print energy_every</span>
							</div>
							<input ng-model="data.print_energy_every" type="number" class="form-control" placeholder="The time steps between the outputting of energy" aria-label="sets the salt concentration in M" aria-describedby="basic">
						</div>
					</div>
				</div>
			</div>

			<div class="mb-3">
				<button ng-click="submitJob()" type="submit" class="btn btn-primary">Submit Job</button>
			</div>

			<div ng-if="submissionStatus != ''" ng-cloak>
				<h3>[[submissionStatus]]</h3>
			</div>

			<div ng-if="error != ''" ng-cloak>
				<h3>Error</h3>
				<p class="text-danger">[[error]]</p>
			</div>

		</div>
	</div>
{% endblock %}

{% block additionalScript %}
<script>
	var frame = window.frames['editor-frame'];

	var openFiles = function (files) {
		//console.log(files);
		//frame.document.dispatchEvent(new Event('drop'));
		//console.log("EVENT DISPATCHED!")
		console.log(files);
		dispatchFakeDrop(files);
	}

	var dispatchFakeDrop = function (files) {
		console.log("called");
		var fakeDropEvent = new DragEvent('drop');
		// You override dataTransfer with whichever property
		// and method the drop function needs

		Object.defineProperty(fakeDropEvent, 'dataTransfer', {
			value: new FakeDataTransfer(files)
		});
		frame.renderer.domElement.dispatchEvent(fakeDropEvent);

	}

	var finishedLoading = function () {
		console.log("child finished loading!");
		//dispatchFakeDrop();
	}

	function FakeDataTransfer(files) {
		this.dropEffect = 'all';
		this.effectAllowed = 'all';
		this.items = [];
		this.types = ['Files'];
		this.getData = function () {

			return files;
		};
		this.files = files;
	};

	var files = {};

	function FakeDataDownload(file, filename) {
		console.log("Fake file download: ", file, filename);
		files[filename] = file;
	}

	function TriggerFileDownloads() {
		frame.makeOutputFiles()
	}
</script>
{% endblock %}
