{% extends 'base.html' %}
{% set active_page = "jobs" %}
{% set page_controller = "JobsCtrl" %}
{% set addSearchBox = True %}

{% block title %}Jobs{% endblock %}

{% block additionalStylesheet %}
<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 15px;
  width:100%;
}

table td {
	width:15%;
	text-align: center;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

.running{
	color: green;
}

.completed{
	color: black;
}

</style>
{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<h1 class="h2">View Jobs</h1>
	</div>
	
	<div class="card">
		<div class="card-body">
			<p> <b>Server status:</b> <br>
				Total jobs currently running: <span ng-cloak>[[jobsRunning]]</span><br>
				Total jobs in queue: <span ng-cloak>[[jobsQueued]]</span><br><br>
			</p>
			<p><b>Your simulations:</b><br> Here is a list of the jobs you have currently running, pending or finished under
				your account. Please be aware trajectory files get automatically deleted one week after the job finishes. To
				access analysis tools, click on your job name.</p>
			<table>
				<tr class="font-weight-bold">
					<td>Job Name</td>
					<td>Status</td>
					<td>Started</td>
					<td>Input</td>
					<td>Log</td>
					<td>Topology</td>
					<td>Initial Configuration</td>
					<td>Last Configuration</td>
					<td>Trajectory</td>
					<td>Cancel</td>
					<td>Delete</td>
				</tr>
				<tr ng-repeat="x in jobs" ng-cloak>
					<td><a href="/job/[[x.uuid]]">[[ x.name ]]</a></td>
					<td><span
							ng-class="{'completed': x.status == 'Completed', 'pending': x.status == 'Pending', 'running': x.status == 'Running'}">[[x.status]]</span>
					</td>
					<td>[[ x.dateString ]]</td>
					<td><a target="_blank" href="/job_output/[[x.uuid]]/input" class="input_[[x.uuid]]">view</a>
						<a href="/job_output/[[x.uuid]]/input" download="[[x.name]]_input" class="input_[[x.uuid]]">download</a>
					</td>
					<td><a target="_blank" href="/job_output/[[x.uuid]]/log" class="log_[[x.uuid]]">view</a>
						<a href="/job_output/[[x.uuid]]/log" download="[[x.name]].log" class="log_[[x.uuid]]">download</a>
					</td>
					<td><a href="/job_output/[[x.uuid]]/topology" download="[[x.name]].top" class="top_[[x.uuid]]">download</a></td>
					<td ng-cloak><a id="init-view" ng-cloak target="_blank" href="[[ x.initConf[0] ]]" class="first_[[x.uuid]]">view</a>
						<a id="init-download" ng-cloak href="[[ x.initConf[1] ]]"
							download="[[x.name]]_init_conf.dat" class="first_[[x.uuid]]">download</a>
					</td>
					<td><a target="_blank"
							href="/static/oxdna-viewer/index.html?configuration=/job_output/[[x.uuid]]/last_conf&topology=/job_output/[[x.uuid]]/topology" class="last_[[x.uuid]]">view</a>
						<a href="/job_output/[[x.uuid]]/last_conf" download="[[x.name]]_last_conf.dat" class="last_[[x.uuid]]">download</a>
					</td>
					<td><a id="traj_[[x.uuid]]" class="traj_[[x.uuid]]" href="/job_output/[[x.uuid]]/trajectory_zip">download</a></td>
					<td><button class="rounded" ng-click="cancelJob(x); x.status = 'Completed'"
							ng-disabled="x.status == 'Completed'">Cancel Job</button></td>
					<td><button class="rounded" ng-click="confirmDelete(x)"
							ng-disabled="x.status != 'Completed' && x.status != 'Canceled'">Delete Job</button></td>
				</tr>
			</table>
	
		</div>
	
	</div>

{% endblock %}
