<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173472997-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173472997-1');
</script>

	<title>oxDNA.org Register</title>
</head>
<body>

</body>
</html>


<html ng-app="app" ng-controller="AppCtrl">
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

</head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/static/style.css">
<style>
	table, th , td {
		border: 1px solid grey;
		border-collapse: collapse;
		padding: 15px;
		width:100%;
	}

	table td {
		width:15%;
		text-align: center;
	}

	table tr:nth-child(odd) {
		background-color: #f1f1f1;
	}

	table tr:nth-child(even) {
		background-color: #ffffff;
	}
</style>
<body ng-controller="RegisterCtrl">
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">oxDNA.org</a>
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="/logout">Sign out</a>
			</li>
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky" ng-cloak>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="/">
								<span data-feather="home"></span>
								Dashboard <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/jobs">
								<span data-feather="list"></span>
								View Jobs
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/create">
								<span data-feather="edit"></span>
								Create A Job	
							</a>
						</li>

						<!-- 
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
								My Files	
							</a>
						</li>
						-->

						<li class="nav-item">
							<a class="nav-link active" href="/account">
								<span data-feather="user"></span>
								My Account	
							</a>
						</li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>JOB HISTORY</span>
						<a class="d-flex align-items-center text-muted" href="#">
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<ul class="nav flex-column mb-2">
							<li ng-repeat="job in job_history | filter: searchText">
								<a class="nav-link" href="/job/{{job.uuid}}">
									<span data-feather="file-text"></span>
									{{job.name}}
								</a>
							</li>
						</ul>
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
						<h1 class="h2">Register</h1>
					</div>

					<div class="card" ng-cloak>
						<div class="card-body">

							<form novalidate>
								<p class="font-weight-bold">First Name: 
									<input ng-model="user.firstName" name="firstName" id="firstName" type="text">
									<span class="font-weight-normal text-danger">{{errors.firstName}}</span>
								</p>
								<p class="font-weight-bold" style="margin-left: 0.1em;">Last Name: 
									<input ng-model="user.lastName" name="lastName" id="lastName" type="text">
									<span class="font-weight-normal text-danger">{{errors.lastName}}</span>
								</p>
								<p class="font-weight-bold" style="margin-left: 0.25em;">Institution: 
									<input ng-model="user.institution" name="institution" id="institution" type="text">
									<span class="font-weight-normal text-danger">{{errors.institution}}</span>
								</p>
								<br>
								<p class="font-weight-bold" style="margin-left: 2.3em;">Email:<sup>*</sup> 
									<input ng-model="user.email" name="username" id="username" type="text">
									<span class="font-weight-normal text-danger">{{errors.email}}</span>
								</p>
								<p class="font-weight-bold" style="margin-left: 0.55em; display: inline;">Password: 
									<input ng-model="user.password" name="password" id="password" type="password">
									<span class="font-weight-normal text-danger">{{errors.password}}</span>
								</p>
								<br/><br/>
								<p class="card-body" style="margin-left: 0.55em; display: inline;"> 
									<input ng-model="user.iAgree" name="iAgree" id="iAgree" type="checkbox">
									I agree with Terms and Conditions of the server usage, as specified <a href="https://oxdna.org">here</a>
									<span class="font-weight-normal text-danger">{{errors.iAgree}}</span>
								</p>
								<br><br>
								
								<p><sup class="font-weight-bold">*</sup>You must check for an email to verify your account before running simulations.</p>
								<input ng-click="register(user)" type="submit"> {{loadingMessage}}
							</form>
						</div>
						
					</div>
				</main>

			</body>

			<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
			<script>
				feather.replace()
			</script>
			<script src="/static/angular.min.js"></script>
			<script src="/static/script.js"></script>
			</html>