<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jobs">
                    <span data-feather="list"></span>
                    View Jobs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">
                    <span data-feather="edit"></span>
                    Create a Job
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">
                    <span data-feather="user"></span>
                    My Account	
                </a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="/database">
                    <span data-feather="list"></span>
                    Database-->
                </a>
            </li>
        </ul>
    </div>
</nav>